<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/>
		<menu execute="~/.config/openbox/pipemenus/obrecent.sh ~/" id="recent" label="Recent Files"/>
		<menu id="Preferences" label="Preferences">
			<menu id="root-menu-525118" label="Openbox Config">
				<item label="Edit autostart">
					<action name="Execute">
						<execute>xed ~/.config/openbox/autostart</execute>
					</action>
				</item>
				<item label="Menu Editor">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<item label="Config Tool">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Key Editor">
					<action name="Execute">
						<execute>
							obkey
						</execute>
					</action>
				</item>
			</menu>
			<menu id="Preferences-0521" label="Tint2 Config">
				<item label="Configure Tint2">
					<action name="Execute">
						<execute>tint2conf</execute>
					</action>
				</item>
				<item label="TintWizard">
					<action name="Execute">
						<execute>tintwizard</execute>
					</action>
				</item>
				<item label="Edit tint2rc">
					<action name="Execute">
						<execute>xed /home/raeaw/.config/tint2/tint2rc</execute>
					</action>
				</item>
			</menu>
			<item label="Kvantum watever the fuck that is">
				<action name="Execute">
					<execute>kvantum</execute>
				</action>
			</item>
			<item label="XFCE Settings">
				<action name="Execute">
					<execute>xfce4-settings-manager</execute>
				</action>
			</item>
			<item label="mount biggay">
				<action name="Execute">
					<execute>gksu mountbiggay</execute>
				</action>
			</item>
			<item label="Input Device Preferences">
				<action name="Execute">
					<execute>
						lxinput
					</execute>
				</action>
			</item>
			<item label="Screen Resolution">
				<action name="Execute">
					<execute>
						arandr
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>
						nitrogen
					</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-29212" label="Screenshot">
			<item label="Now">
				<action name="Execute">
					<execute>scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; ristretto ~/$f'</execute>
				</action>
			</item>
			<item label="In 5 Seconds">
				<action name="Execute">
					<execute>scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; ristretto ~/$f'</execute>
				</action>
			</item>
			<item label="In 10 Seconds">
				<action name="Execute">
					<execute>scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; ristretto ~/$f'</execute>
				</action>
			</item>
			<item label="Select Area">
				<action name="Execute">
					<execute>scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; ristretto ~/$f'</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
		<item label="Shut Down">
			<action name="Execute">
				<execute>shutdown 0</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
